* {
  font-family: 'Montserrat', sans-serif;
}

header.row, footer.row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

#mNavbar {
  position: fixed;
  top: 0;
  display: block;
  transition: top 0.3s;
}

#mNavbar a {
  font-size: 10px;
}

#mNavbar p {
  color: #ff0000;
  font-weight: 1000;
}

p {
  color: white;
}

.jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://free4kwallpapers.com/uploads/originals/2019/11/24/cyberpunk-city-wallpaper.jpg');
  background-size: cover;
  background-position: center, center;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.row.text-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#title {
  font-size: 40px;
  color: white;
  border-top: 15px solid rgba(0, 0, 0, 0);
}

#about {
  font-size: large;
  color: white;
  border-top: 20px solid rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
}

footer {
  font-size: 15px;
  border-top: 20px solid rgba(0, 0, 0, 0);
  padding: 20px 0;
}

footer p {
  display: flex;
  justify-content: flex-start;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  #mNavbar p {
    font-size: small;
  }
}